<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <!--[[${users}]]-->
    <!--<h1 th:text="${userList}"></h1> <br>-->

    <a href="/users/add">Add new</a>

    <Table border="1">
        <tr style="color:red">
            <th>ID</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Action</th>
        </tr>

        <tr th:each="u:${userList}">
            <td th:text="${u.getId()}"></td>
            <td th:text="${u.getName()}"></td>
            <td th:text="${u.getGender()}"></td>
            <td>
                <a th:href="@{/users/one/{user_id}(user_id=${u.getId()})}">View</a>
                <a th:href="@{/users/update/{id}(id=${u.getId()})}">Update</a>
                <button>Delete</button>
            </td>
        </tr>
        <tr></tr>
    </Table>

</body>
</html>