<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    ID: <span th:text="${user.getId()}"></span> <br>
    Name: <span th:text="${user.getName()}"></span><br>
    Name: <span th:text="${user.getGender()}"></span>

</body>
</html>